/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;500;600;700;800&family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

/*///////////////////////////////////////  all similar content styling codes ////////////////////////////////////////////////////////////*/
section{
    padding: 100px 0;
}
.largeur-cd{
    max-width: 1300px;
    padding: 0 70px;
    margin: auto;
}
.about, .projects, .skills, .education, .contact, footer{
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 19px;
}
.about .about-main, 
.projects .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .titre{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 60px;
    padding: 10px 16px;
    font-family: 'Exo 2', sans-serif;
    border: 3px solid #111;
}

/*////////////////////////////////////////////////////////   navbar styling   /////////////////////////////////////////////////////////////*/
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    /* padding: 6px 0; */
    font-family: 'Exo 2', sans-serif;
    transition: all 0.3s ease;
    background-color: #3c9012;
}

.navbar .largeur-cd{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a img{
    height: 55px;
    margin-top: 5px;
    width: auto;
}

.navbar label{
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 50px;
    color: #fff;
    display: none;
}
.navbar #toggle{
    display: none;
}

.navbar .lista li{
    list-style: none;
    display: inline-block;
}
.navbar .lista li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 35px;
    transition: color 0.3s ease;
}

.navbar .lista li a .fas{
    margin-right: 10px;
}

.navbar .lista li a:hover{
    color: #111;
}
.navbar .lista li a:active{
    color: #333;
}
.navbar.sticky .lista li a:hover{
    color: #fff;
}


/*////////////////////////////////////////////////   home section styling   ////////////////////////////////////////////////////////////////*/
.home{
    display: flex;
    background: url("images/banner2.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Exo 2', sans-serif;
}
.home .largeur-cd{
    margin: auto 0 auto 30px;
}

.home .home-main .big-text{
    color: #3c9012;
    font-size: 70px;
    font-weight: 600;
}
.home .home-main .med-text{
    font-size: 60px;
    margin: 5px 0;
}
.home .home-main a{
    display: inline-block;
    background: #3c9012;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid #fff;
    transition: all 0.3s ease;
    margin-left: 60%;
}
.home .home-main a:hover{
    color: #3c9012;
    background: none;
    border: 2px solid #3c9012;
}
/*////////////////////////////////////////////////   about section styling   //////////////////////////////////////////////////////////////*/
.about .about-main .part-2{
    width: 35%;
}
.about .about-main .part-2 img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 5px 5px 15px 5px lightslategrey;
    border: 3px solid #111;
    
}
.about .about-main .part-1{
    width: 55%;
}
.about .about-main .part-1 .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-main .part-1 p{
    text-align: justify;
}
.about .about-main .part-1 a{
    background: #3c9012;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #3c9012;
    transition: all 0.3s ease;
    float: right;
}
.about .about-main .part-1 a:hover{
    color: #3c9012;
    background: none;
}
.about .about-main .part-1 a .fa-download{
    margin-left: 20px;
}


/*/////////////////////////////////////////////////   education section styling   /////////////////////////////////////////////////////////*/
.education, .projects{
    color:#fff;
    background-color: #999;
    
}
.education .titre,
.projects .titre{
    border: 3px solid #fff;
}

.education .carousel h2{
    text-align: center;
    font-size: 26px;
    font-weight: 500;
    font-family: 'Exo 2', sans-serif;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 30px;
    margin-top: 40px;
    margin-right: 32%;
    margin-left: 32%;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    border-radius: 5px;
    padding: 6px 6px;
    background-color: #3c9012;
    color: #111;
}
.education .carousel .card{
    background: #333;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
    border: 3px solid #111;
    margin-bottom: 20px;
    border: 3px solid #fff;
    border-radius: 12px;
}
.education .carousel .card:hover{
    border: 3px solid #3c9012;
}
.education .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    transition: all 0.5s ease;
}
.education .carousel .card .box .border{
    margin-top: 20px;
    border: 2px solid #fff;
    border-radius: 12px;
    padding: 12px 25px;
    background-color: #444;
}
.education .carousel .card .box h4{
    font-style: italic;
    font-weight: 500;
    font-size: 19px;
    color: #3c9012;
}
.education .carousel .card .box p{
    font-style: italic;
    font-size: 17px;
}
.education .carousel .card .box .clarify{
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 14px;
    margin-top: 5px;
    border: 1px solid #3c9012;
    padding: 7px 10px;
}
.education .carousel .card .text{
    font-size: 25px;
    font-weight: 700;
    margin: 25px 0 7px 0;
    font-family: 'Exo 2', sans-serif;
}
.education .carousel .card img{
    height: 150px;
    width: auto;
    object-fit: cover;
    border: 3px solid #111;
    transition: all 0.3s ease;
}
.education .carousel .card:hover img{
    border-color: #3c9012;
}

.education .carousel .card .box a{
    margin-top: 10px;
    color: #fff;
    text-decoration: underline;
    transition: all 0.5 ease;
}
.education .carousel .card .box a:hover{
    text-decoration: none;
}
/*///////////////////////////////////////////////    skills section styling   //////////////////////////////////////////////////////////////*/
.skills .hardsoft{
    display: flex;
    justify-content: space-between;
}
.skills .hardsoft .container{
    width: calc(520px - 10px);
    background-color: lightgrey;
    border-radius: 20px;
}
.skills .hardsoft .softskills h4{
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    margin-bottom: 7px;
    font-weight: 600;
}
.Pr-Ae, .catia, .web, .Ps-Ai, .arabic, .frensh, .english, .spanish{
    text-align: center;
    font-weight: 600;
    color: white;
    border-radius: 20px;
    margin-bottom: 15px;
}
.web {
    width: 90%;
    background-color: #3c9012;
}
.catia {
    width: 60%;
    background-color: #111;
}
.Pr-Ae {
    width: 40%;
    background-color: #111;
}
.Ps-Ai {
    width: 80%;
    background-color: #3c9012;
}
.arabic {
    width: 99%;
    background-color: #111;
}
.frensh{
    width: 80%;
    background-color: #111;
}
.english{
    width: 80%;
    background-color: #3c9012;
}
.spanish{
    width: 80%;
    background-color: #3c9012;
}

/* ///////////////////////////////////////////////  projects section styling   ////////////////////////////////////////////////////////////*/
.projects, .education{
    color:#fff;
    background: #111;
    
}
.projects .titre,
.education .titre{
    border: 3px solid #fff;
}
.projects .serv-content .card{
    width: calc(50% - 30px);
    height: 400px;
    background: #3c9012;
    text-align: center;
    padding: 20px 25px;
    transition: all 0.6s ease;
    border: 3px solid #fff;
    border-radius: 12px;
}

.projects .serv-content .card .box{
    transition: all 0.6s ease;
}

.projects .serv-content .card i{
    font-size: 50px;
    transition: color 0.6s ease;
    margin-left: 18px;
    
}
.projects .serv-content .card a{
    margin-top: 10px;
    color: #fff;
    text-decoration: underline;
    transition: all 0.5 ease;
}
.projects .serv-content .card a:hover{
    text-decoration: none;
}
.projects .serv-content .card .text{
    color: #fff;
    font-family: 'Exo 2', sans-serif;
    font-size: 25px;
    font-weight: 500;
    margin: 40px 0 7px 0;
    text-transform: uppercase;
}

.projects .serv-content .card p{
    margin-top: 15px;
    text-align: justify;
}
.projects .serv-content .fa-bootstrap{
    color: #080135;
}
.projects .serv-content .fa-js{
    color: #f0db4f;
}
.projects .serv-content .fa-css3-alt{
    color: #264de4;
}
.projects .serv-content .fa-html5{
    color: #FF5733;
}
.fa-copyright{
    color: darkblue;
}
.fa-id-card{
    color: #444;
}
.fa-passport{
    color: #00626f;
}

/*///////////////////////////////////////////////////////   contact section styling  x///////////////////////////////////////////////////////*/

.contact .contact-content .flex{
    width: calc(50% - 30px);
}
.contact .contact-content .flex .text,
.contact .contact-content .location .text{
    font-family: 'Exo 2', sans-serif;
}

.contact .part-1 form .champs{
    display: flex;
}
.contact .part-1 form .champ,
.contact .part-1 form .champs .champ{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .part-1 form .zone-texte{
    height: 80px;
    width: 100%;
}
.contact .part-1 form .lastname{
    margin-right: 10px;
}
.contact .part-1 form .firstname{
    margin-left: 10px;  
}
.contact .part-1 form .champ input,
.contact .part-1 form .zone-texte textarea{
    height: 100%;
    width: 100%;
    color: #fff;
    background:#444;
    border: 3px solid #222;
    border-radius: 2px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Baloo Chettan 2', cursive;
    transition: all 0.3s ease;
}
.contact .part-1 form .champ input:focus,
.contact .part-1 form .zone-texte textarea:focus{
    border: 3px solid #3c9012;
}
.contact .part-1 form .zone-texte textarea{
    padding-top: 10px;
    resize: none;
}
.contact .part-1 form .poussoir{
    height: 47px;
    width: 170px;
    display: inline-block;

}
.contact .part-1 form .poussoir .submit, .reset{
    width: 100%;
    height: 100%;
    border: 2px solid #3c9012;
    background: #3c9012;
    color: #fff;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .part-1 form .poussoir .reset{
    border: 2px solid #111;
    background: #111;
    margin-left: 20px;
}
.contact .part-1 form .poussoir .submit:hover{
    color: #3c9012;
    background: none;
}
.contact .part-1 form .poussoir .reset:hover{
    color: #111;
    background: none;
}
.fa-paper-plane, .fa-undo{
    margin-left: 6px;
}
.contact .contact-content .part-1 .text,
.contact .contact-content .location .text{
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
}
.contact .contact-content .map{
    border: 2px solid #111;
    border-radius: 2.5px;
}
/* /////////////////////////////////////////////////////// style of the footer //////////////////////////////////////////////////////////*/
footer{
    background: #333;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
.social-media, .social-media2{
    list-style: none;
    margin: 20px 20px;
    padding: 2%;
    margin-left: 35%;
    margin-right: 35%;
    font-size: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-media2{
    margin-left: 15%;
    margin-top: 50px;
}
.fab{
    color: lightgrey;
}

.fa-github:hover{
    color: grey;
}
.fa-linkedin:hover{
    color: #0077b5;
}
.fa-behance:hover{
    color: #053eff;
}
.fa-pinterest:hover{
    color: #c8232c;
}
.fa-twitter:hover{
    color: #1DA1F2;
}
footer .inliner{
    text-align: center;
    margin-bottom: 60px;
    
}
footer .inliner .awsome{
    margin-left: 11%;
    margin-right: 11%;
    display: flex;
    justify-content: space-between;
    color: white;
    border: 2px solid #3c9012;
    padding: 13px 60px;
}
footer .inliner .awsome .fas{
    font-size: 30px;
    margin-bottom: 10px;
    color: #3c9012;
}
footer .inliner .awsome .torr{
    font-weight: 600;
    font-size: 20px;
    color: #3c9012;
    font-family: 'Exo 2', sans-serif;
}
footer .inliner .awsome .sub-title{
    font-family: 'Exo 2', sans-serif;
}

footer .signature {
    margin: 0;
    padding: 0 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #444;
    height: 60px
}

.saad {
    font-weight: 600;
    color: #3c9012;
    margin-left: 5px;
}


/*//////////////////////////////////////////// responsive media query start //////////////////////////////////////////////*/

@media (max-width: 1300px) {
    .home .largeur-cd{
        margin-left: 0px;
    }
    .social-media{
        margin-left: 25%;
        margin-right: 25%;

    }

    .skills .hardsoft .container{
        width: calc(450px - 10px);
     }
     .projects .serv-content .card{
        height: 480px;
    }

}

@media (max-width: 1250px) {
    .contact .contact-content .map iframe{
        width: 480px;
    }
    .skills .hardsoft .container{
        width: calc(410px - 10px);
     }
}

@media (max-width: 1104px) {
    .navbar .lista{
        position: fixed;
        height: 60vh;
        width: 100%;
        top: 65px;
        background: rgba(68, 68, 68, 0.748);
        text-align: center;
        padding-top: 80px;
        transition: all 0.6s ease;
        display: none;
        
    }
    .navbar .lista .active{
        left: 0;
    }
    .navbar .lista li{
        display: block;
    }
    .navbar .lista li a{
        margin-bottom: 30px;   
    }
    
    .navbar label{
        display: block;
        cursor: pointer;
    }
    .navbar #toggle:checked + .lista{
        display: block;
    }
    
    .about .about-main .part-2 img{
        height: 310px;
        width: 310px;
    }
    .contact .contact-content .map iframe{
        width: 430px;
    }
    .skills .hardsoft .container{
        width: calc(390px - 5px);
     }
}

@media (max-width: 991px) {
    .largeur-cd{
        padding: 0 50px;
    }
    .contact .contact-content .map iframe{
        width: 400px;
    }
    .skills .hardsoft .container{
        width: calc(380px - 5px);
     }
     footer .inliner .awsome{
        flex-direction: column;
    }
     footer .inliner .awsome .sub-title{
        font-size: 14px;
        }
}
@media (max-width: 900px){
    
    .home .home-main .big-text{
        font-size: 65px;
    }
    .home .home-main .med-text{
        font-size: 50px;
    }
    .home .home-main a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .largeur-cd{
        max-width: 930px;
    }
    .about .about-main .flex{
        width: 100%;
    }
    .about .about-main .part-2{
        display: flex;
        justify-content: center;
        margin: 0 auto 50px;
    }
    .about .about-main .part-1{
        flex: 100%;
    }
    .projects .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
        height: 600px;
    }
    
    .contact .contact-content .flex{
        width: 100%;
        margin-bottom: 35px;
    }
    .about .about-main .part-2 img{
        margin-top: 100px;
        height: 350px;
        width: 350px;
        
    }
    
    .contact .contact-content .map iframe{
        width: 500px;
    }
    .skills .hardsoft .container{
        width: calc(350px - 5px);
     }
    
    footer .inliner .awsome .fas{
        font-size: 25px;
    }
    footer .inliner .awsome .torr{
        font-weight: 600;
        font-size: 20px;
    }
    footer .inliner .awsome .sub-title{
        font-size: 13px;
    }
    footer .signature {
        flex-direction: column;
        font-size: 18px;
    }

}

@media (max-width: 690px) {
    .largeur-cd{
        padding: 0 23px;
    }
    .home .home-main .big-text{
        font-size: 55px;
    }
    .home .home-main .med-text{
        font-size: 45px;
    }
    .home .home-main a{
        font-size: 20px;
    }
    .projects .serv-content .card{
        width: 100%;
        height: 450px;
    }
    
    .contact .contact-content .map iframe{
        width: 620px;
    }
    .skills .hardsoft{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    footer .inliner .awsome{
        width: 100%;
       margin-left: 5px;
    }
    footer .inliner .awsome .fas{
    font-size: 20px;
    }
    footer .inliner .awsome .torr{
    font-weight: 600;
    font-size: 18px;
    }
    footer .inliner .awsome .sub-title{
        font-size: 12px;
    }
    footer .signature {
        flex-direction: column;
        font-size: 15px;
    }

}
@media (max-width: 500px) {
    .home .home-main .big-text{
        font-size: 40px;
    }
    .home .home-main .med-text{
        font-size: 35px;
    }
    .about .about-main .part-1 .text,
    .skills .skills-content .part-2 .text{
        font-size: 19px;
    }
    .education .carousel .card img{
        width: auto;
        height: 120px;
    }
    .contact .part-2 form .champs{
        flex-direction: column;
    }
    .contact .part-2 form .lastname,
    .contact .part-2 form .firstname{
        margin: 0;
    }
    .social-media{
        margin-left: 25%;
        margin-right: 25%;

    }
    
    .contact .contact-content .map iframe{
        width: 450px;
    }
    .home .home-main a{
        font-size: 15px;
    }

}

@media (max-width: 400px){
   
    .education .carousel .card img{
        width: auto;
        height: 100px;
    }
    .about .about-main .part-2 img{
        height: 250px;
        width: 250px;
    }
    .home .home-main a{
        font-size: 13px;
    }
    .contact .contact-content .map iframe{
        width: 350px;
    }
    .skills .hardsoft .container{
        width: calc(340px - 5px);
     }
}

/* ////////////////////////////////////////////   scroll up button   ///////////////////////////////////////////////////////////////////////////*/
.scroll-up{
    position: fixed;
    width: 40px;
    height: 40px;
    background: #3c9012;
    bottom: 30px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 20px;
    z-index: 999;
}

/* //////////////////////////////////////////////   custom scroll bar style   //////////////////////////////////////////////////////////////////*/

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #3c9012;
}

::-webkit-scrollbar-thumb:hover {
    background: #111;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
