/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;500;600;700;800&family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

/*////////////////////////////////////////////////////////   navbar styling   /////////////////////////////////////////////////////////////*/
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 5px 0;
    font-family: 'Exo 2', sans-serif;
    transition: all 0.3s ease;
    background-color: #3c9012;
}
.navbar.sticky{
    padding: 15px 0;
    background: #3c9012;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #111;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a img{
    height: 50px;
    margin-top: 5px;
    width: auto;
}
.navbar .lista li{
    list-style: none;
    display: inline-block;
}
.navbar .lista li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .lista li a:hover{
    color: #111;
}
.navbar .lista li a:active{
    color: #333;
}
.navbar.sticky .lista li a:hover{
    color: #fff;
}
  