/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;500;600;700;800&family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

/*///////////////////////////////////////  all similar content styling codes ////////////////////////////////////////////////////////////*/
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .projects, .skills, .education, .contact, footer{
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 19px;
}
.about .about-main, 
.projects .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .titre{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 60px;
    padding: 10px 16px;
    font-family: 'Exo 2', sans-serif;
    border: 3px solid #111;
}

/*////////////////////////////////////////////////////////   navbar styling   /////////////////////////////////////////////////////////////*/
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 5px 0;
    font-family: 'Exo 2', sans-serif;
    transition: all 0.3s ease;
    background-color: #3c9012;
}
.navbar.sticky{
    padding: 15px 0;
    background: #3c9012;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #111;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a img{
    height: 50px;
    margin-top: 5px;
    width: auto;
}
.navbar .lista li{
    list-style: none;
    display: inline-block;
}
.navbar .lista li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .lista li a .fas{
    margin-right: 10px;
}

.navbar .lista li a:hover{
    color: #111;
}
.navbar .lista li a:active{
    color: #333;
}
.navbar.sticky .lista li a:hover{
    color: #fff;
}


/*////////////////////////////////////////////////   home section styling   ////////////////////////////////////////////////////////////////*/
.home{
    display: flex;
    background: url("images/banner3.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Exo 2', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 30px;
}

.home .home-main .big-text{
    color: #3c9012;
    font-size: 70px;
    font-weight: 600;
}
.home .home-main .med-text{
    font-size: 60px;
    margin: 5px 0;
}
.home .home-main a{
    display: inline-block;
    background: #3c9012;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid #fff;
    transition: all 0.3s ease;
    margin-left: 60%;
}
.home .home-main a:hover{
    color: #3c9012;
    background: none;
    border: 2px solid #3c9012;
}
.fa-level-down-alt{
    margin-left: 20px;
}

/*////////////////////////////////////////////////   about section styling   //////////////////////////////////////////////////////////////*/
.about .about-main .part-2{
    width: 35%;
}
.about .about-main .part-2 img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 5px 5px 15px 5px lightslategrey;
    border: 5px solid #111;
    
}
.about .about-main .part-1{
    width: 55%;
}
.about .about-main .part-1 .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-main .part-1 p{
    text-align: justify;
}
.about .about-main .part-1 a{
    background: #3c9012;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #3c9012;
    transition: all 0.3s ease;
    float: right;
}
.about .about-main .part-1 a:hover{
    color: #3c9012;
    background: none;
}
.about .about-main .part-1 a .fa-download{
    margin-left: 20px;
}


/*/////////////////////////////////////////////////   education section styling   /////////////////////////////////////////////////////////*/
.education, .projects{
    color:#fff;
    background: #222;
    
}
.education .titre,
.projects .titre{
    border: 3px solid #fff;
}

.education .carousel h2{
    text-align: center;
    font-size: 26px;
    font-weight: 500;
    font-family: 'Exo 2', sans-serif;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 30px;
    margin-top: 40px;
    margin-right: 32%;
    margin-left: 32%;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    border-radius: 5px;
    padding: 6px 6px;
    background-color: #3c9012;
    color: #111;
}
.education .carousel .card{
    background: #333;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
    border: 3px solid #111;
    margin-bottom: 20px;
}
.education .carousel .card:hover{
    border: 3px solid #3c9012;
}
.education .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    transition: all 0.5s ease;
}
.education .carousel .card .box h4{
    font-style: italic;
    font-weight: 500;
    font-size: 19px;
    color: #3c9012;
}
.education .carousel .card .box p{
    font-style: italic;
    font-size: 17px;
}
.education .carousel .card .box .clarify{
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 14px;
    margin-top: 5px;
    border: 1px solid #3c9012;
    padding: 7px 10px;
}
.education .carousel .card .text{
    font-size: 25px;
    font-weight: 700;
    margin: 25px 0 7px 0;
    font-family: 'Exo 2', sans-serif;
}
.education .carousel .card img{
    height: 150px;
    width: auto;
    object-fit: cover;
    border: 3px solid #111;
    transition: all 0.3s ease;
}
.education .carousel .card:hover img{
    border-color: #3c9012;
}

.education .carousel .card .box a{
    margin-top: 5px;
    color: #fff;
    text-decoration: underline;
    transition: all 0.5 ease;
}
.education .carousel .card .box a:hover{
    text-decoration: none;
}
/*///////////////////////////////////////////////    skills section styling   //////////////////////////////////////////////////////////////*/
.skills .hardsoft{
    display: flex;
    justify-content: space-between;
}
.skills .hardsoft .container{
    width: calc(520px - 10px);
    background-color: lightgrey;
    border-radius: 20px;
 }
 .skills .hardsoft .softskills h4{
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    margin-bottom: 7px;
    font-weight: 600;
 }
 .Pr-Ae, .catia, .web, .Ps-Ai, .arabic, .frensh, .english, .spanish{
    text-align: center;
    font-weight: 600;
    color: white;
    border-radius: 20px;
    margin-bottom: 15px;
 }
 .web {
    width: 90%;
    background-color: #3c9012;
 }
 .catia {
    width: 60%;
    background-color: #111;
 }
 .Pr-Ae {
    width: 40%;
    background-color: #111;
 }
 .Ps-Ai {
    width: 80%;
    background-color: #3c9012;
 }
 .arabic {
    width: 99%;
    background-color: #111;
 }
 .frensh{
    width: 80%;
    background-color: #111;
 }
 .english{
    width: 80%;
    background-color: #3c9012;
 }
 .spanish{
    width: 80%;
    background-color: #3c9012;
 }